html {
  font-size: 100%;
}
body {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  color: #666666;
  padding: 0;
}
.topspace {
  margin-top: 20px;
}
/*********************************************************************

                            Navigation in header

**********************************************************************/
.navbar {
    border-width: 1px 0;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    width: 100%;
}
.navbar-collapse {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}
.navbar-collapse .navbar-nav {
    float: none;
    margin: 0 auto;
    text-align: center;
}
.navbar-collapse .navbar-nav > li {
    float: none;
    display: inline-block;
}
/*********************************************************************

                                HEADER

**********************************************************************/
#head img.img-circle {
    display: block;
    width: 280px;
    height: 280px;
    overflow: hidden;
    border: 9px solid rgba(0, 0, 0, 0.05);
    margin: 0 auto;
}

#head .title {
    font-family: Alice, Georgia, serif;
    font-size: 49px;
    font-size: 3.0625rem;
}

#head .tagline {
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.2em;
    color: #7C7C7C;
    margin: 5px 0 0;
}

.home #head {
    padding: 10px 0;
}
.home #head .title {
    font-size: 49px;
    font-size: 3.0625rem;
}
.home #head .tagline {
    font-size: 16px;
    font-size: 1rem;
    margin: 15px 0 0;
}
/*********************************************************************

                                MAIN

**********************************************************************/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p {
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333333;
}
h1 {
  font-size: 40px;
  font-size: 2.5rem;
}
h2 {
  text-align: center;
  font-size: 36px;
  font-size: 2.25rem;
}
h3 {
  font-size: 30px;
  font-size: 1.875rem;
}
h4 {
  font-size: 24px;
  font-size: 1.5rem;
}
h5 {
  font-size: 20px;
  font-size: 1.25rem;
}
p {
  font-size: 17px;
  font-size: 1rem;
}
.content {
	width: 90%;
	padding-bottom: 50px;
	line-height: 1.5rem;
	clear: both;
}
.box {
	padding: 20px;
	background-color: lightgray;
    margin-top: 40px;
	margin-bottom: 40px;
    position: relative;
    left: 6%;
    right: 5%;
}
.center {
	text-align: center;
}
/* Max page width
/////////////////////////////////////////////////////////////////////*/
@media (min-width: 1200px) {
    .container {
      max-width: 1080px;
    }
}